.App{
  width: 70vw;
  display: flex;
  flex-direction: column;
  background: rgb(244, 244, 244);
  height: 100vh;
  padding: 2rem;
  align-items: center;
}

.App > h1{
  text-align: center;
}

.app-body{
display: flex;
flex-direction: column;
  /* align-items: center; */
  margin-left: 4rem;
  /* background: black; */
  width: 20rem;

}
.category-header {
  display: flex;
  align-items: center;
  /* padding: 2px */

  gap: 14px
}

ul {
  margin: 0;
  padding: 0; 
  list-style-type: none; 
}

input{
  margin: 0;
}

label {
  margin-left: 10px;
}

button {
  width: 15rem;
  height: 30px;
  margin-top: 2rem;
  background: blue;
  border: none;
  border-radius: 4px;
  color: white
}

.category-header > div{
  background: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;padding: 3px;
}